@import '../../styles/variables';
.inputBox {
    font-size: 1em;
    position: relative;
    width: 100%;
    border-top: 1px solid $greyLine;
    border-bottom: 1px solid $greyLine;
    background-color: #fff;
    label {
        position: absolute;
        top: .18rem;
        left: .12rem;
        transition: 150ms ease-in-out all;
        pointer-events: none;
        color: #999;
    }
    & + & {
        border-top: 0;
    }
}

.input {
    font-weight: normal;
    width: 100%;
    padding: .24rem .12rem .12rem;
    color: $textColor;
    border: 0;
    outline: 0;
    background-color: #fff;
    &:focus {
        & ~ label {
            font-size: .8em;
            top: .08rem;
        }
    }
}

.inputHasValue {
    & ~ label {
        font-size: .8em;
        top: .08rem;
    }
}

.floatLabel {
    font-size: .8em;
    position: absolute;
    top: .08rem;
    left: .12rem;
    transition: 150ms ease-in-out all;
    pointer-events: none;
    color: #999;
}

.errMsg {
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: .12rem;
    color: $redText;
}

.selectBox {
    position: relative;
    &::after {
        position: absolute;
        top: 50%;
        right: .08rem;
        width: 0;
        height: 0;
        content: '';
        border-width: .08rem .04rem 0;
        border-style: solid;
        border-color: #c9c9c9 transparent transparent;
    }
}

.select {
    font-weight: normal;
    width: 100%;
    padding: .24rem .12rem .12rem;
    color: $textColor;
    border: 0;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
}

.labelValue {
    color: #999;
}
