.header {
    margin-top: .2rem;
}

.cancelBtn {
    font-size: .14rem;
    display: block;
    margin-top: .24rem;
    margin-right: auto;
    margin-left: auto;
    padding: .06rem .5rem;
    border-radius: 4px;
    background-color: #d50000;
}

.card {
    margin-top: .12rem;
    margin-bottom: .12rem;
}
