.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animatedFast {
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes :global(slideInDown) {
    from {
        transform: translate3d(0, -40%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes :global(slideInUp) {
    from {
        transform: translate3d(0, 40%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}
