.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.icon-shuaxin:before {
    content: "\e600";
}

.icon-shuaxin1:before {
    content: "\e602";
}

.icon-shezhi:before {
    content: "\e603";
}

.icon-jinlingyingcaiicon01:before {
    content: "\e604";
}

.icon-jinlingyingcaiicon02:before {
    content: "\e601";
}

.icon-person:before {
    content: "\e606";
}

.icon-backspaceoutline:before {
    content: "\e607";
}

.icon-mima:before {
    content: "\e605";
}

.icon-084tuichu:before {
    content: "\e608";
}

.icon-money:before {
    content: "\e609";
}
