@import '../../styles/variables';
.menu {
    padding: 0.2rem 0.12rem;
    border-bottom: 1px solid $greyLine;
    color: #11181D;
}

.labelIcon {
    font-size: 0.24rem;
    color: #9E9E9E;
    padding-right: 4px;
}

.balance {
    background-image: url("../../static/user/bg.png");
    padding: 0.12rem 0.12rem 0.24rem;
    background-size: 100% 100%;
    background-color: #F2F9F6;
    color: $greyColor;
    font-size: 12px;
    p {
        text-align: center;
    }
}

.price {
    font-size: 30px;
    padding-bottom: 0.06rem;
    span {
        color: $textColor;
    }
}
