@import '../../styles/variables';

.header {
    background-color: $secondary;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 0.25rem;
}

.menuIcon {
    text-align: right;
}

.username {
    padding-right: 0.06rem;
}
