@import '../../styles/variables';
.headline {
    text-align: center;
    color: $greyColor;
    position: relative;
    background-color: $lightBlue;
    height: 0.48rem;
    line-height: 0.48rem;
    &::before {
        content: '';
        width: 35%;
        height: 1px;
        background-color: #c2d7d7;
        position: absolute;
        left: 0;
        top: 50%;
    }
    &::after {
        content: '';
        width: 35%;
        height: 1px;
        background-color: #c2d7d7;
        position: absolute;
        right: 0;
        top: 50%;
    }
}

.breakLine {
    background-image: url("../../static/common/breakLine.png");
    background-position: 0 0;
    background-size: 100%;
    background-color: transparent;
}
